/*-----------------------------------*/
/* main.css: Add and override styles */
/*-----------------------------------*/

/* Changes to background colour */
body {
  background: #f2f2f2; /* Concrete */
}

/* Changes to make height same as charts */
#country-units-sold-selector { 
  font-size: 12px;
  padding-bottom: 243px;
}

/* Change text to black */
.dc-chart g.row text {
  fill: black;  
}

/* Change textto black in Pie Chart */
.dc-chart .pie-slice {
  fill: black;
}

/* Changes to dataTable */
#dc-data-table {
 font-size: 12px; 
 margin: 0px auto; 
} 

/* padding for columns in dataTable */
.table-condensed>tbody>tr>td, 
.table-condensed>tbody>tr>th, 
.table-condensed>tfoot>tr>td, 
.table-condensed>tfoot>tr>th, 
.table-condensed>thead>tr>td, 
.table-condensed>thead>tr>th  {
  padding: 3px;
}
  
/* Alight Column 0 in dc.dataTable */ 
.dc-table-row .dc-table-column._0 {
  text-align: left;
}

/* Alight Column 1 in dc.dataTable */
.dc-table-row .dc-table-column._1 {
  text-align: center;
}

/* Alight Column 2 in dc.dataTable */
.dc-table-row .dc-table-column._2 {
  text-align: center;
}

/* Alight Column 3 in dc.dataTable */
.dc-table-row .dc-table-column._3 {
  text-align: center;
}

/* Alight Column 4 to 9 in dc.dataTable */
.dc-chart td {
  text-align: right;
}
