/* main.css: Add and override styles */

.section-heading {
	display: inline-block;	
	  float: none;
	 margin: 0;
}

.section-heading {
	margin-bottom: 50px;
}

#country-selector {
    font-size: 10px; 
  margin-left: 15px;
}

.dc-chart g.row text {
  fill: black;  
}

.dc-chart .pie-slice {
       fill: yellow;
  font-size: 10px; 
}

.bar:hover {
  fill: yellow;
}

/* not show .group in dc.dataTable */
.dc-table-group {
  visibility: collapse;
}